workflow/AI-Workflow-Monitoring-System.json
{
  "name": "AI-Workflow-Monitoring-System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        -32
      ],
      "id": "10bdd963-623a-4d64-b59f-d206a50673d3",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0855a35-ba8e-4b6c-aedb-2d1ab964ad73",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "bf9ebe24-bbaf-4c90-8a31-5351d0995a64",
              "name": "last_node",
              "value": "={{ $json.execution.lastNodeExecuted }}",
              "type": "string"
            },
            {
              "id": "497a3ce9-3289-4098-9820-1ee8649b46a2",
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "5fa9ae7f-3175-4d78-ba06-354b5b84c728",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2d385ead-ed90-4ba1-b81a-2e0da2ac25f9",
              "name": "workflow_id",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -32
      ],
      "id": "953a2047-e6c6-4804-a15b-4a7a7f9f4604",
      "name": "Incident Context Builder"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "=critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a8b4d0a-06a5-44ed-8302-73a7a247b0bb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "82c13375-171f-4bc7-8f17-426c857e2a0d",
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a572419e-bb52-4eec-949b-99fc4bf6e8f4",
                    "leftValue": "={{ $json.severity }}",
                    "rightValue": "low",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -144,
        -80
      ],
      "id": "3a3e1f6c-efb7-4527-9637-513653e640b7",
      "name": "Severity Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d01923a9-4ae5-4f65-8420-147ed917aa2e",
              "leftValue": "={{ $json.error_message.toLowerCase() }}",
              "rightValue": "timeout",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "09c3cdc3-710c-44ab-b094-25f8c9611cc4",
              "leftValue": "={{ $json.error_message.toLowerCase() }}",
              "rightValue": "authentication",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d5e3aa59-72fe-4abb-bcc5-c27c62abbfde",
              "leftValue": "={{ $json.error_message.toLowerCase() }}",
              "rightValue": "=unauthorized",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2883a900-1cd8-468f-8881-0d7def496d0c",
              "leftValue": "={{ $json.error_message.toLowerCase() }}",
              "rightValue": "quota",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4a0d8395-9093-4229-b2d3-7e3f17e94c99",
              "leftValue": "={{ $json.error_message.toLowerCase() }}",
              "rightValue": "rate limit",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        -32
      ],
      "id": "e285d57c-fafb-4cbd-a461-1c80bb397e11",
      "name": "Critical Error Detector"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fae6635-6e4d-4c1c-a0a2-2f4099176895",
              "name": "severity",
              "value": "critical",
              "type": "string"
            },
            {
              "id": "32673c01-a4fe-4c27-b207-06969f135d2b",
              "name": "severity_icon",
              "value": "🔴",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -160
      ],
      "id": "ea8437b7-febc-47b5-931f-a3ca6615650b",
      "name": "Set Critical Severity"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2060baa0-b6ee-4be4-b8db-f79ada44a95c",
              "name": "severity",
              "value": "medium",
              "type": "string"
            },
            {
              "id": "7f9152c1-cc0b-413e-95df-09ff2ff0b490",
              "name": "severity_icon",
              "value": "🟠",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        0
      ],
      "id": "1196ea0e-8bde-4fc6-9841-ba87ec623239",
      "name": "Set Medium Severity"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "={{ $json.severity_icon }} [{{ $json.severity.toUpperCase() }}] Workflow {{ $json.workflow_name }} Failed",
        "emailType": "text",
        "message": "=Workflow Failure Detected\n\nSeverity:\n{{ $json.severity }}\n\nWorkflow:\n{{ $json.workflow_name }}\n\nDate and Time:\n{{ $json.timestamp }}\n\nLast Executed Node:\n{{ $json.last_node }}\n\nError Message:\n{{ $json.error_message }}\n\nAI Incident Analysis:\n{{ $json.ai_analysis }}\n\nExecution Status:\nThe workflow execution terminated unexpectedly and requires investigation.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        848,
        240
      ],
      "id": "ad1a4171-64aa-4ad9-9271-2bacf353dfd1",
      "name": "Send Email Alert",
      "credentials": {
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI operations incident analyst.\n\nAnalyze workflow execution failures from an automation platform.\n\nReturn:\n1. Incident Summary\n2. Probable Root Cause\n3. Operational Severity\n4. Remediation Step\n\nKeep responses concise and operational.\nMaximum 5 short paragraphs.\nAvoid filler language."
            },
            {
              "content": "=Workflow Name: {{ $('Incident Context Builder').item.json.workflow_name }}\n\nSeverity: {{ $('Severity Router').item.json.severity }}\n\nLast Executed Node: {{ $('Incident Context Builder').item.json.last_node }}\n\nError Message: {{ $('Incident Context Builder').item.json.error_message }}\n\nTimestamp: {{ $('Incident Context Builder').item.json.timestamp }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        64,
        -64
      ],
      "id": "d15f16c7-4228-40dc-ba2e-266c0406152a",
      "name": "AI Incident Analyzer",
      "credentials": {
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        240
      ],
      "id": "8d67f3a4-f6c1-4e15-aded-cb479db7833c",
      "name": "Merge Incident Data"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "={{ $json.severity_icon }} Workflow Failure Detected  Severity: {{ $json.severity_icon }} {{ $json.severity.toUpperCase() }}  Workflow: {{ $json.workflow_name }}  Last Node: {{ $json.last_node }}  Error: {{ $json.error_message }}  AI Analysis: {{ $json.ai_analysis }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        848,
        64
      ],
      "id": "8d520f50-b7d1-40d4-89c4-8b9ce4697a13",
      "name": "Send Slack Alert",
      "credentials": {
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.severity_icon }} Workflow Failure Detected\n\nSeverity: {{ $json.severity_icon }} {{ $json.severity.toUpperCase() }}\n\n*Workflow:* {{ $json.workflow_name }}\n\n*Last Node:* {{ $json.last_node }}\n\n*Error:*\n{{ $json.error_message }}\n\n*AI Analysis:*\n{{ $json.ai_analysis }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        416
      ],
      "id": "83feb462-3419-4dd5-af3a-0943d2ade38f",
      "name": "Send Telegram Alert",
      "credentials": {
      }
    },
    {
      "parameters": {
        "content": "## Incident Detection"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -240
      ],
      "typeVersion": 1,
      "id": "f039bc0d-7cad-48b7-a8a7-d2f6004e9497",
      "name": "Incident Detection Section"
    },
    {
      "parameters": {
        "content": "## Severity Classification & Routing"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -336
      ],
      "typeVersion": 1,
      "id": "1c56e6f3-2d46-4deb-92f9-30f66725d93e",
      "name": "Severity Classification Section"
    },
    {
      "parameters": {
        "content": "## AI Incident Analysis"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -304
      ],
      "typeVersion": 1,
      "id": "e39b65e6-6879-4c66-9134-3ba7cee1692e",
      "name": "AI Incident Analysis Section"
    },
    {
      "parameters": {
        "content": "## Multi-Channel Alert Delivery"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -48
      ],
      "typeVersion": 1,
      "id": "6c14d024-e7c1-4f03-a434-e37d541a430e",
      "name": "Alert Delivery Section"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a40de02-3981-4763-b3fe-437a40a20f9f",
              "name": "severity",
              "value": "={{ $('Severity Router').item.json.severity }}",
              "type": "string"
            },
            {
              "id": "b51ba53e-4bb2-4135-b171-70369394d1c8",
              "name": "workflow_name",
              "value": "={{ $('Incident Context Builder').item.json.workflow_name }}",
              "type": "string"
            },
            {
              "id": "60801161-b236-4bfc-b25d-edfd83a2ed95",
              "name": "last_node",
              "value": "={{ $('Incident Context Builder').item.json.last_node }}",
              "type": "string"
            },
            {
              "id": "0fe9bc40-edfe-4804-b40d-fe86eca89c79",
              "name": "error_message",
              "value": "={{ $('Incident Context Builder').item.json.error_message }}",
              "type": "string"
            },
            {
              "id": "23a821f9-f97f-4cd8-915d-2470702ad88f",
              "name": "timestamp",
              "value": "={{ $('Incident Context Builder').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "b6641447-047e-408b-aea3-77ff8e776c05",
              "name": "ai_analysis",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "2798ddbb-63ba-4e97-b90b-df0395c596f5",
              "name": "severity_icon",
              "value": "={{ $('Severity Router').item.json.severity_icon }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        240
      ],
      "id": "f75a775b-db2f-4ac8-8e0b-47fc704bc4bf",
      "name": "Alert Payload Builder"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Incident Context Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incident Context Builder": {
      "main": [
        [
          {
            "node": "Critical Error Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [],
        [
          {
            "node": "AI Incident Analyzer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Incident Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Critical Error Detector": {
      "main": [
        [
          {
            "node": "Set Critical Severity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Medium Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Critical Severity": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Medium Severity": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Incident Analyzer": {
      "main": [
        [
          {
            "node": "Merge Incident Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Incident Data": {
      "main": [
        [
          {
            "node": "Alert Payload Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        []
      ]
    },
    "Alert Payload Builder": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1ed2ca61-d72c-497d-913c-80200a1e9053",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "Vrcg38t3RnOJLYfc",
  "tags": []
}